{% extends 'layout/base.html' %}


{% load static %}
<!--{% include 'layout/sidebar.html' %}-->
{% block content %}
                  
<!-- content -->                      
<div class="row">
  
 <!-- main col left --> 
 <div class="col-sm-5">
      {% include 'facebook/create_post.html' %}
  
  </div>
  
  <!-- main col right -->
  <div class="col-sm-7">
       
    {%for post in post_list%}

       <div class="panel panel-default">
         <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>My Post</h4></div>
          <div class="panel-body">
            <img src="{% static 'assets/img/150x150.gif' %}" class="img-circle pull-right">
            <div class="clearfix"></div>
            <hr>
            
            {{post.post}}
            
            <hr>
            <form>
            <div class="input-group">
              <div class="input-group-btn">
              <button class="btn btn-default">+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
              </div>
              <input class="form-control" placeholder="Add a comment.." type="text">
            </div>
            <div>

            <a type="submit" class="btn btn-danger" href="/post-delete/{{ post.id }}">Delete</a>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <button><i class="fa fa-thumbs-up" style="font-size:36px"></i></button>

          </div>
            </form>
             <!--<fb:like layout="button_count" show_faces="false" width="450" font=""></fb:like> -->
            
          </div>
       </div>
{% endfor %}
    
  </div>
</div><!--/row-->

{% endblock %}


